import Config

# config :echo_bot, EchoBot.UpdatesAngler,
#   server_port: 4000,
#   webhook_url: "http://localhost:4000/updates_hook"

# config :telegex,
#   api_base_url: "http://localhost:8081",
#   token: "<BOT_TOKEN>"
