# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Elixir CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Create secret files
        run: |
          cat <<EOT >> config/dev.secret.exs
          import Config
          config :telegex, token: "${{ secrets.BOT_TOKEN }}"
          EOT
          cat <<EOT >> config/test.secret.exs
          import Config
          config :telegex, token: "${{ secrets.BOT_TOKEN }}"
          EOT
      - name: Set up Elixir
        uses: erlef/setup-beam@v1.15.4
        with:
          elixir-version: "1.14.5" # Define the elixir version [required]
          otp-version: "26.0" # Define the OTP version [required]
      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Run tests
        run: mix test
